html, body {
	background: #AAA;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

#container {
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	background: #EEE;
	border: 1px solid white;
}