html, body {
	background: #555;
	font-family: sans-serif;
}

h1 {
	color: rgb(0, 0, 150);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

h2 {
	color: #333;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

#container {
	
}

header {
	display: none;
	width: 960px;
	margin: 20px auto;
	padding: 10px;
	background: #EEE;
	border: 1px solid white;
	border-radius: 10px;
}

#slide1 {
	background: url(../img/slide1_img.jpg) no-repeat;
}

#slide2 {
	background: url(../img/slide2_img.jpg) no-repeat;
}